body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #282424;
    height: 100vh;
}

h1 {
    font-weight: bolder;
    color: #118c31;
}

main p {
    color: white;
}

main {
    margin: 5em 10em;
    display: flex;
    flex-flow: column;
    height: 100%;
}

.navbar-nav {
    padding: 0 5em;
}

.nav-item {
    text-wrap: nowrap;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: #118c31;
}

.navbar-brand img {
    height: 3em;
    border-radius: 50%;
}

p {
    color: white;
}

#footer {
    background-color: #201c1c;
}

h2 {
    color: #118c31;
    font-family: 'Courier New', Courier, monospace;
}

section {
    flex-grow: 1;
}

@media only screen and (max-width: 1200px) {
    main {
        margin: 1em;
    }
}